a.nav-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    -ms-appearance: button;
    -o-appearance: button;

    text-decoration: none;
    color: initial;
}

.nav-bar {
    background-color: plum;
    padding: 20px;
}