<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CodeCool Application Process</title>
    <link rel="stylesheet" href="/static/main.css"
</head>
<body>
    <div class="nav-bar">
        <a class="nav-button" href="/">Root</a>
        <a class="nav-button" href="/mentors">Mentors</a>
        <a class="nav-button" href="/all-school">All schools</a>
        <a class="nav-button" href="/mentors-by-country">Mentors by country</a>
        <a class="nav-button" href="/contacts">Contacts</a>
        <a class="nav-button" href="/applicants">Applicants</a>
        <a class="nav-button" href="/applicants-and-mentors">Applicants and mentors</a>
    </div>
    {% block content %}{% endblock %}
</body>
</html>