{% extends "base.html" %}
{% block content %}
<table id="app-po-table-main">
    {% for column in columns %}
    <th class="app-po-table-heads"> {{column}} </th>
    {% endfor %}
    {% for row in data_set %}
    <tr class="app-po-table-rows"> 
      {% for cell in row %}
      <td class="app-po-table-cells">
        {% if not cell %}
          None
        {% elif cell is string %}
          {{ cell.decode('utf-8') }}
        {% else %}
          {{ cell }}
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}